body {
    background: #FF9;
}

#content {
    width: 500px;
    /*margin: 200px 450px;*/
}

.el {
    background: black;
    background-position: center top;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.el.active {
    background: white;
}

.actionButton {
    background-color: whitesmoke;
    opacity: 0.9;
    width: 100px;
    color: black;
    margin: -20px;
    font-size: 34px;
}

.active {
    background-color: #333333;
    color: whitesmoke;
}
