body{
    background: #FF9;
}
#content
{
    position: absolute;
    width: 500px;
    margin: 200px 200px;
    padding: 10 auto;
}
div div{
    border: 1px solid black;
    width: 30px ;
    position: static;

}
